site_name: Five AM Study
site_url: https://5amstudy.com
site_description: The most dedicated and passionate IT studying community. We're not here to prove we're smart - we're here to learn efficiently.

theme:
    name: material
    custom_dir: docs/overrides
    favicon: favicon_io/favicon.ico
    logo: favicon_io/android-chrome-192x192.png
    palette:
        scheme: slate
        primary: custom
        accent: custom
    features:
        - navigation.tabs
        - navigation.sections
        - navigation.top
        - navigation.indexes
        - search.suggest
        - search.highlight
        - content.code.copy
    font:
        text: Roboto
        code: Roboto Mono

nav:
    - Home:
          - Home: index.md
          - Success Stories: success-stories.md
    - Guide:
          - Guide: guide.md
          - Example Subpage: guide/example-subpage.md
    - Resources:
          - Roadmaps: roadmaps/index.md
          - Example Subpage: resources/example-subpage.md

plugins:
    - search

extra_css:
    - stylesheets/extra.css

markdown_extensions:
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - attr_list
    - md_in_html
